<div class="mt-4">
    <div class="row">
        <h1>Test</h1>
        {{#each account}}
            <div class="col-sm-6 col-lg-4">
                <p>{{this.id}}</p>
                <p>{{this.username}}</p>
            </div>
        {{/each}}

    </div>
</div>