                </div>
                {{!--  container-xxl --}}
            </div>
            <!-- Content -->

        </div>
    
    <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script src="../vendor/libs/jquery/jquery.js"></script>
<script src="../vendor/libs/popper/popper.js"></script>
<script src="../vendor/js/bootstrap.js"></script>
<script src="../vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../js/jsadmin/main.js"></script>

<!-- Page JS -->
<script src="../js/jsadmin/dashboards-analytics.js"></script>