<form method="POST" action="">
  <h1 style="text-align: center">Đặt hàng</h1>
  <div class="mb-3">
    <label for="productname" class="form-label">Product Name</label>
    <input type="text" class="form-control" id="productname" name="productname">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" class="form-control" id="price" name="price">
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="color" name="color">
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">category</label>
    <input type="text" class="form-control" id="category" name="category">
  </div>
  <div class="mb-3">
    <label for="quantity" class="form-label">Quantity</label>
    <input type="text" class="form-control" id="quantity" name="quantity">
  </div>
  <div class="mb-3">
    <label for="imgproduct" class="form-label">ImgProduct</label>
    <input type="text" class="form-control" id="imgproduct" name="imgproduct">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="md-5 offset-5" href="register">Register</a>
</form>